@import "tailwindcss";

/* styles/globals.css ou component CSS */
.scrollbar-thick {
  overflow: auto;
}

.scrollbar-thick::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

.scrollbar-thick::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 8px;
  border: 3px solid #f3f4f6;
}

.scrollbar-thick::-webkit-scrollbar-track {
  background-color: #f3f4f6;
  border-radius: 8px;
}
