@import "tailwindcss";

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}
